footer {
  background-color: var(--color-background);
  bottom: 0;
  color: var(--color-text-white);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  left: 0;
  padding: 20px;
  position: fixed;
  width: 100%;
}

footer p {
  margin: 0;
}
